@import '../../../styles/colors';
@import '../../../styles/variables';


    .quad{
        border: 1px solid black;
        width: 49%;
        height: 200px;
        float: left; 
        
          
    }

    #fight.quad{
        background-color: greenyellow;
    }